.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  width: 132px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 1em;
  background-color: #242527;
  color: #fff;
  border: 3px solid #f51800;
}

.drum-pad-area {
  flex-wrap: wrap;
  width: 470px;
  display: flex;
  justify-content: center;
}

#display {
  margin-bottom: 40px;
}

/*use sass*/

#drum-machine {
  padding: 10px 20px 40px;
}